* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

a {
    color: white;
}

.current-operand {
    text-decoration-color: aliceblue;
    font-size: 40px;
}

.previous-operand {
    text-decoration-color: aliceblue;
    font-size: 40px;
    z-index: 2;
}

.calculator-grid {
    /* padding-left: 600px; */
    padding-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);

    height: 500px;
    max-width: 200px;
    align-content: center;

}

.output {
    grid-column: 1/ -1;
    /* background-color: black; */
    border: solid black 3px;
    overflow-wrap: break-word;
    overflow: scroll;
    z-index: 3;
    opacity: 90%;
}