* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: rgb(0, 162, 255);
}
a {
    color: white;
}
button{
    background-color: rgb(116, 160, 184);
}
button:active{
background-color: rgb(153, 193, 245);
}
.current-operand {
    text-decoration-color: aliceblue;
    font-size: 40px;
}
.previous-operand {
    text-decoration-color: aliceblue;
    font-size: 40px;
    z-index: 2;
}
.current-operand{
    background-color: rgb(241, 250, 255);
    float:right;
    max-width: inherit;
    box-sizing:border-box;
    padding: 20px;
}
.calculator-grid {
    padding-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
    height: 500px;
    max-width: 200px;
    align-content: center;
    padding-left: 37.98%;
    
}
.output {
    grid-column: 1/ -1;
    border-radius: 25px 25px 0px 0px;
    max-width:100%;
    border: solid black 3px;
    overflow-wrap: break-word;
    overflow: scroll;
    z-index: 3;
    opacity: 90%;
    background-color: rgb(241, 250, 255);
}
.clear{
    background-color: rgb(94, 96, 248);
}
.zero {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius:  0px 0px 0px 25px;
  }
  .divide{
    background-color: rgb(129, 188, 219);
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .times{
    background-color: rgb(129, 188, 219);
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
  }
  .minus{
    background-color: rgb(129, 188, 219);
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
  }
  .plus{
    background-color: rgb(129, 188, 219);
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 4;
  }
  .equals{
    background-color: rgb(60, 152, 201);
    border-radius:  0px 0px 25px 0px;
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;
  }

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #c2c9d2;
    display: none;
  }